
/* ******************************* */
/* HEADER */
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d8bd;
  height: 9.6rem;
  padding:0 4.8rem;
  position: relative;
  }
  .logo{
    height:2.2rem;
  }
/* ******************************* */
/* ******************************* */
/* HERO SECTION */

.section-hero{
  background-color: #f8d8bd;
  padding:4.8rem 0 9.6rem 0;
}

.hero{
display:grid;
grid-template-columns: 1fr 1fr;
align-items: center;
padding:0 3.2rem;
max-width: 130rem;
margin:0 auto;
gap:9.6rem;
}

.hero-image{
  width:100%;
}

.delivered-meals{
display:flex;
align-items: center;
gap:1.6rem;
margin-top: 8rem;
}

.delivered-img{
display:flex;
}

.delivered-img img{
  height:4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border:3px solid #f8d8bd;
}
.delivered-img img:last-child{
  margin:0;
}

.delivered-text{
font-size: 1.8rem;
font-weight: 600;
}

.delivered-text span{
  color:#b8651b;
  font-weight: 700;
}
/* ******************************* */
/* MOBILE NAV */
/* ******************************* */

.btn-mobile-nav{
  border:none;
  background-color:#f8d8bd;
  display:none;
  cursor: pointer;
}

.icon-mobile-nav{
  color: #333;
  height: 4.8rem;
  width: 4.8rem;
}
.icon-mobile-nav[name="close-outline"]{
display:none;
}

/* ******************************* */
/* MAIN NAV */
/* ******************************* */
.main-nav{
}
.main-nav-list{
  list-style:none;
  display:flex;
  align-items: center; 
  gap:3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  color:#000;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active{
  color:#b8651b;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color:#fff;
  background-color: #e67e22
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
  background-color: #cf711f;
}
/* ******************************* */
/* SECTION HOW REUSABLE GRID */
/* ******************************* */

.how-section{
  padding:9.6rem 1.6rem;
}
.step-image{
  width: 35%;
}
.step-number{
  font-size:8.6rem;
  font-weight: 600;
  color:#ddd;
  margin-bottom:1.6rem;
}
.step-description{
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-image-box{
  display: flex;
  align-items: center;
  justify-content: center; 
  position:relative;
}
.step-image-box::before,
.step-image-box::after{
  content:'';
  display:block;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.step-image-box::before{
  z-index:-2;
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
}
.step-image-box::after{
  z-index:-1;
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%; 
}
.grid--center-v{
  align-items: center;
} 

/* ******************************* */
/* Featured Section */
/* ******************************* */
.featured{
  padding:4.8rem 0 3.2rem 0;
}
.heading-featured{
font-size: 1.4rem;
font-weight: 500;
letter-spacing: 0.75px;
text-transform: uppercase;
text-align: center;
margin-bottom:2.4rem;
color:#888;
}
.logos{
display:flex;
justify-content: space-around;
}
.logos img{
  height:3rem;
  filter: brightness(0%)
  opacity(50%)
}
/* ******************************* */
/* SECTION Meals */
/* ******************************* */
.meal{
  box-shadow: 0 2.4rem 4.8rem  rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}
.meal:hover{
  transform: translateY(-2rem);
  transition: all 0.4s;
  box-shadow: 0 4.8rem 6.4rem rgba(0, 0, 0, 0.040)
}
.meal-content{
  padding: 3.2rem  4.8rem 4.8rem 4.8rem;
}
.meal-tag{
  margin-bottom: 1.2rem;
  display:flex;
  gap:0.4rem;
}
.tag{
  display: inline-block;
  padding:0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegitarian{
  background-color: #51cf66;
}
.tag--vegan{
  background-color: #94d82d;
}
.tag--paleo{
  background-color: #ffd43b;
}
.section-meals{
  padding:9.6rem 1.6rem;
}
.meal-img{
  width:100%;
}
.meal-title{
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom:3.2rem; 
}
.meal-attributes{
  list-style:none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap:1.2rem;
}
.meal-icon{
  width:2.4rem;
  height: 2.4rem;
  color:#e67e22;
}

.link-details{
 font-size:1.6rem;
 align-items: center;
 gap:3.2rem;
}
.all-recipe{
  text-align: center;
  font-size: 1.8rem;
}
.link:link,
.link:visited{
display: inline-block;
color:#e67e22;
border-bottom: 1px solid currentColor;
text-decoration: none;
padding-bottom: 2px; 
transition: all 0.3s;
}
.link:hover,
.link:active{
  color:#cf711f;
  border-bottom: 2px solid transparent;
}
/* ******************************* */
/* SECTION TESTIMONIAL */
/* ******************************* */
.testimonial-section{
  background-color:#fdf2e9;
  display: grid;
  grid-template-columns:55fr 45fr;
  align-items: center;
}
.testimonial-content{
  padding:9.6rem;
}
.testimonials{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.6rem;
}
.testimonial{
  padding:1.6rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.testimonial-img{
  width:6.8rem;
  border-radius: 50x
}
.gallery{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.6rem;
  padding:1.6rem;
}
.gallary-items{
overflow:hidden;
}
.gallery img{
  display:block;
  width: 100%;
  transition: all 0.4s;
}
.gallary-items img:hover{
transform: scale(1.1);
}
.section-pricing{
  padding:9.6rem;
}
.plan-heading{
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name{
color: #cf711f;
font-size: 2rem;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.75;
margin-bottom: 3.2rem;
}
.plan-price{
font-size: 6.2rem;
font-weight: 600;
color:#333;
margin-bottom: 1.6rem;
}
.plan-price span{
  font-size: 3rem;
  font-weight: 500;
margin-bottom: 0.8rem;
}
.plan-text{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  color:#6f6f6f
}
.plan-sign-up{
  margin-top: 4.8rem;
  text-align: center;
}
.pricing-plan{
  border-radius: 11px;
  width: 75%;
}
.princing-plan-starter{
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan-complete{
  padding: 4.8rem;
  background-color:#fdf2e9;
  position: relative;
  overflow: hidden;
}
.pricing-plan-complete::after{
content:"Best Price";
font-size: 1.6rem;
font-weight: 700;
background-color: #ffd43b;
color: #333;
padding:0.8rem 8rem;
position: absolute;
top: 5%;
right: -20%;
transform: rotate(45deg)
}
.features-icon{
background-color: #fdf2e9;
color:#e67e22;
height: 3rem;
width: 3rem;
padding: 1.2rem;
border-radius: 50%;
margin-bottom: 1.6rem;
}
.features-tile{
color: #333;
font-size: 2.4rem;
font-weight: 700;
margin-bottom: 1.6rem;
}
.features-text{
font-size:1.8rem;
line-height:1.8;
}
.plan-details{
  font-size: 1.6rem;
  font-weight: 600rem;
  line-height: 1.6;
  text-align:center;
}
/* ******************************* */
/* SECTION CTA*/
/* ******************************* */

.section-cta{
  /* top / right / bottom / left */
  padding:4.8rem 0 12.8rem 0;
  /* or we can use like this another method also if the both side values are same.*/
  /* top / horizontal / bottom */
  /* padding:9.6rem 0 12.8rem; */
}
.cta{
  display:grid;
  grid-template-columns: 2fr 1fr;
height: 50rem;
  box-shadow: 0 2.4rem 4.8rem  rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom,#eb984e,#e67e22);
  border-radius:11px;
  overflow: hidden;
}
.cta-text-box{
  padding:4.8rem 6.4rem 6.4rem 6.4rem;
  color:#45260a;
}
.cta .heading-secondary{
  color:#45260a;
  margin-bottom: 3.2rem;
}
.cta-text{
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.6rem;
}
.cta-img-box{
  background-image:linear-gradient(to right bottom,rgba(235, 151, 78, 0.35),rgba(230, 125, 34, 0.35)), url(../img/eating.jpg);
  border-radius:11px;
  background-size: cover;
  background-position: center;
}
.cta-form{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 3.2rem;
row-gap: 2.4rem;
}
.cta-form label{
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom:1.6rem;
  width: 100%;
}
.cta-form input,
.cta-form select{
  font-family: inherit;
  padding:1.2rem;
  font-size: 1.8rem;
  width: 100%;
border:none;
background-color: #fdf2e9;
border-radius: 9px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.cta-form *:focus{
  outline:none;
  box-shadow:0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* ******************************* */
/*FOOTER SECTION*/
/* ******************************* */

.footer{
  padding:12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-cols{
  display:flex;
  flex-direction: column;
}

.footer-logo{
  display: block;
  margin-bottom:3.2rem;
}

.social-links{
  list-style:none;
  display:flex;
  gap:2.4rem;
}

.social-icons{
  width: 2.4rem;
  height: 2.4rem;
}

.copyrights{
font-size: 1.4rem;
line-height:1.6;
color:#767676;
margin-top:auto;
}

.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address{
  color:#555;
  margin-bottom: 2.4rem;
}
.footer-heading{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav{
  list-style: none;
  display:flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
text-decoration: none;
color: #767676;
font-size: 1.6rem;
transition: all 0.03s;
}

.footer-link:hover,
.footer-link:active{
  color:#555;
}

