/* Global Reset */
* {
  color: darkblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
/* list selector  */
h1,
h2,
h3,
p,
li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1,
h3,
h2 {
  color: rgba(18, 51, 118, 0.902);
  margin: 0 20px;
}

.h2-first{
  position:relative;
  margin-bottom: 15px;
}

p {
  color: rgb(7, 23, 23);
  margin: 15px 30px;
}
li {
  margin: 10px 50px;
}
/* decendant selector */
/* footer p {
  font-size: 16px;
} */
/* p strong {
  font-style: italic;
} */
/* aside li p {
  font-style: oblique;
} */
/* id selector */
#copyright {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
/* class selector*/

.related-author {
  font-weight: bold;
  font-style: italic;
}
.list-pointer {
  list-style: none;
}
.releted-posts {
  padding:45px 0;
  background-color: #f4f4f4;
  border-top: 3px solid #0d7272;
  border-bottom: 3px solid #0d7272;
}
.related-h3 {
  /* margin: 0 70px;
  padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* pseudo classes*/
/* li:first-child {
  font-weight: bolder;
} */
li:last-child {
  font-style: italic;
  margin-bottom: 10px;
}
li:nth-child(2) {
  color: chocolate;
}
li:nth-child(odd) {
  color: rgb(128, 0, 96);
}
/* Styling Links */
a:link {
  color: #0d7272;
  text-decoration: none;
}
a:visited {
  color: #012e2e;
}
a:hover {
  text-decoration: underline dotted orangered;
  font-weight: bolder;
}
a:active {
  background-color: yellowgreen;
  font-style: italic;
}

/* Resolving conflicting declaration */
.paragraph {
  color: rgb(187, 19, 19);
}
#para {
  color: rgba(12, 44, 26, 0.927);
}
.related-links {
  margin-right: 0;
}
.post-img {
  width: 800px;
  height: auto;
}
.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}
.like-button {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* Pseudo Element :: */
h1::first-letter {
  font-size: 50px;
  font-style: italic;
}
/* Adjactent Sibling Selector */
h2 + p::first-line {
  color: rgb(200, 207, 9);
}
.h2-first::after {
content:"New";
color:rgb(0, 0, 0);
background-color: yellow;
font-size: 10px;
font-weight: 200;
display: inline-block;
padding: 5px;
position: absolute;
top:-10px;
right:-10px;
}


/* Float */
/* 
.author-photo {
  float: left;
  margin-top:10px;
  margin-left:25px;
}
.author{
  float:left;
 padding-top:25px;
 margin-left: 10px;
}
h1{
  float: left;
}
nav {
  float:right;
  margin-top:35px;
}
nav a{
  margin-right:30px;
} */
/* .clear{
  clear:both;
} */

/* clearfix hack */
/* 
.clearfix::after{
  content:"";
  clear:both;
  display: block;
}
article{
  margin-top: 20px;
  width: 800px;
  float:left;

}
aside{
  margin-top: 20px;
  width:300px;
  float:right;
}
footer{
  clear:both;
} */

.main-header{
  background-color: #d5c9c9;
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.post-header{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
}
.related-content{
  display:flex;
  align-items: center;
  gap:20px;
}
.related-links:link{
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-left: 0;
}
.row{
  display:flex;
  align-items: start;
  gap:18px;
}
article{
  flex: 0 0 825px;
}
aside{
  flex:0 0 300px;
}
